.table1{
    width: 100%;
    text-align:center;
    border: 2px solid black;
    border-collapse: collapse;
}
tr,th,td{
    text-align:center;
    border: 2px solid black;
    
}
th{
    color: teal;
}
.name_of_company{
    color: tomato !important;
}
body{
    background-color: #58687e;
    color:white;
}
thead{
    background-color: #39495e;
}